<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="me.thomasdevito.gotube.firetv27"
  android:versionCode="27"
  android:versionName="2.7.0">
  <uses-sdk android:minSdkVersion="22" android:targetSdkVersion="34" />

  <uses-permission android:name="android.permission.INTERNET" />

  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
  <uses-feature android:name="android.hardware.faketouch" android:required="false" />
  <uses-feature android:name="android.software.leanback" android:required="true" />

  <application
    android:allowBackup="false"
    android:banner="@drawable/gotube_leanback_banner"
    android:hardwareAccelerated="true"
    android:icon="@mipmap/ic_launcher_firetv"
    android:label="@string/app_name"
    android:logo="@mipmap/ic_launcher_firetv"
    android:supportsRtl="true"
    android:theme="@style/GoTubeTheme">
    <activity
      android:name=".MainActivity"
      android:banner="@drawable/gotube_leanback_banner"
      android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize"
      android:exported="false"
      android:icon="@mipmap/ic_launcher_firetv"
      android:label="@string/app_name"
      android:logo="@mipmap/ic_launcher_firetv"
      android:screenOrientation="landscape" />
    <activity-alias
      android:name=".FireTvV27LauncherActivity"
      android:banner="@drawable/gotube_leanback_banner"
      android:enabled="true"
      android:exported="true"
      android:icon="@mipmap/ic_launcher_firetv"
      android:label="@string/app_name"
      android:logo="@mipmap/ic_launcher_firetv"
      android:targetActivity=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
      </intent-filter>
    </activity-alias>
  </application>
</manifest>
